@tailwind base;
@tailwind components;
@tailwind utilities;

ion-button.blue {
  --background: #082374;
  /* --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be; */

  --color: white;

  /* --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px; */

  /* --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25); */

  --ripple-color: white;

  /* --padding-top: 10px;
    --padding-bottom: 10px; */
}



ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
  color: #4b4a50;
}

ion-toast.custom-toast::part(icon) {
  color: #22c55e;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #030207;
  font-size: 15px;
}

/* CustomSidebar.css */
.sidebar-custom {
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 50;
  width: 60px !important;
  /* Initial width for icon-only state */
  transition: width 0.3s;
}

.sidebar-custom.expanded {
  width: 300px !important;
  /* Expanded width */
}